
body{

}

button{
    margin: 1.3rem;
    background-color:rgb(233, 69, 69)  !important;
    color: white !important;
    border-color: transparent !important;
}

button:hover{
    background-color: gray !important;
}

span{
    color: #ff3838;
    font-weight: 700;
}

/*barra de navegación*/
.barra-navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

.barra-navegacion h1 {
    font-size: 1.3rem;
}

.nav-item a {
    color: rgb(26, 26, 26);
}

.nav{
    --bs-nav-link-hover-color: rgb(250, 55, 55);
}

.nav-link{
    font-weight: 600;
}


/*sección*/
section {
    padding: 6rem;
}

section h1, h2{
    text-align: center;
}

section h2{
    color: rgb(59, 59, 59);
    margin: 0;
}

section h1{
    color: rgb(255, 44, 44);
    font-weight: 600;
}

.hero {
    background-image: url(../img/divorcio.jpg);
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Estilo para el texto en la presentación */
.texto-presentacion {
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    color: white;
    /* Agrega un color de texto para que sea legible sobre el fondo oscuro */
}

.redes-sociales{
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
    margin-top: 6.3rem;
}

.redes-sociales img{
padding: 1rem;
}

.redes-sociales img:hover{
    opacity: 0.4;
}

.hero::before {
content: "";
    background-color: rgba(0, 0, 0, 0.631);
    /* Color de fondo con opacidad (0.5 = 50%) */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Coloca el fondo detrás de otros elementos */
}



.texto-presentacion span{
    color: #fc5252;
}

.texto-presentacion h1{
    font-size: 3rem;
}

.texto-presentacion h2{
    margin: 1rem;
}

.texto-presentacion button {
    display: flex;
    justify-content: flex-start
}









/*servicios*/
.servicios{
    background-color: rgb(245, 245, 245);
}
.contenedor-servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.contenedor-servicios div h3{
    display: flex;
    align-content: center;
    text-align: center;
    margin: 2rem;
}

.contenedor-servicios div img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-servicios p {
    text-align: justify;
    margin: 0;
}

.contenedor-servicios div{
    padding: 2rem;
    display: flex;
    flex-direction: column;
justify-content: center;
    align-items: center;
}

.buton-ver-mas {
    display: flex;
    justify-content: flex-end
}




/*sobre mí*/
.sobre-mi{
    background-color: rgb(230, 230, 230);
}
.contenedor-sobre-mi{
    display: flex;
    align-items: center;
}

.contenedor-sobre-mi p{
    margin: 2rem;
}

.info-foto {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.info-foto img, p{
    margin: 1rem;
    display: flex;
    justify-content: center;

}

.perfil-img{
    width: 100%;
    height: auto;
}

.redes-sociales



/*contacto*/
.contacto{
    background-color: rgb(245, 245, 245);
}
.contenedor-contacto{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenedor-contacto div{
    margin: 2rem;
}

.contenedor-contacto h1, h2 {
    margin: 1.5rem 0;
}

.contenedor-contacto h3{
    font-size: 1.2rem;
}

.form-left {
    text-align: center;
}

.form-right{
    display: flex;
    flex-direction: column;
    align-items: center
}

.form-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
}

.form-right input[type="text"], textarea{
    margin: 1rem;
    width: 100%;
}

.buton-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*testimonio*/
.testimonios{
    background-color: rgb(229, 229, 229);
}
.contenedor-testimonio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.contenedor-testimonio p{
    padding: 2rem;
    font-style: italic;
    font-weight: 600;
}



/*ubicación*/
.ubicacion{
    background-color: rgb(245, 245, 245);
}

.ubicacion-left iframe{
    padding: 2rem;
}

.icono-y-direccion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-ubicacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ubicacion-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}





/*nav pie de pagina*/
.barra-navegacion-footer {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(22, 22, 22);
}

.barra-navegacion-footer ul {
    display: flex;
    padding: 1.8rem 3rem;
    margin: 0;
}

.barra-navegacion-footer ul li {
    list-style: none;
}

.barra-navegacion-footer ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 1.2rem;
    font-weight: 600;
}




/* Estilos para el pie de página */
footer h4 {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #ffffff;
}

footer a {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer p{
    color: white;
}

footer ul li img {
    margin: 10px;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul li a:hover {
    color: #ff5a5a;
}

.footer-col {
    margin-bottom: 1rem;
}

.align-self-center {
    align-self: none!important;
}

.list-unstyled img:hover {
    opacity: 0.4;
}

.derechos-reservados {
    font-size: 13px;
    text-align: center;
    line-height: 2;
    margin: 0;
}